:root {
  --primary-color: #4af; /* Modifies the thematic color of the app */
  --bg-color: #222;
  --middle-color: #444;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: var(--bg-color);
  color: #fff;
  text-align: center;
}

h1,
h2 {
  margin-bottom: 10px;
}

.clickable-text {
  cursor: pointer;
  padding: 12px;
}

.buttons {
  margin: 10px 0;
}

button {
  background-color: var(--middle-color);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 2px;
  transition: background 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: #777;
}

button.selected {
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-weight: bold;
  border: 2px solid var(--primary-color);
}

#output {
  margin: 20px auto 0 auto;
  padding: 20px 20px 0 20px;
  font-size: 42px;
  font-weight: bold;
  color: var(--primary-color);
  white-space: wrap;
}
.generate-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
  gap: 10px;
  margin: 20px auto;
}

#generate {
  grid-column: 2;
  margin-top: 10px;
  font-size: 28px;
  border-radius: 6px;
  border: 2px solid var(--primary-color);
}

#generate:disabled {
  border: 2px solid var(--middle-color);
  background-color: var(--bg-color);
  color: var(--middle-color);
  cursor: not-allowed;
}

#random {
  grid-column: 3;
  margin-right: auto;
  font-size: 28px;
}

hr {
  margin-top: 60px;
  margin-bottom: 20px;
  width: 95vw;
  border: none;
  background-color: var(--middle-color);
  height: 1px;
}

#about {
  color: var(--middle-color);
  width: 85vw;
  margin: auto;
  text-align: left;
}

#rarity {
  color: var(--middle-color);
  padding-bottom: 20px;
}
